<div class="titulo">
	<h1>Time Tracker</h1>
</div>

<table>
  <tr>
    <th>Timesheets</th>
  </tr>

<% unless @timesheets.empty? %>
  <% @timesheets.each do |timesheet| %>
    <tr>
      <td><%=h timesheet.owner %></td>
      <td><%= link_to 'Show', timesheet %></td>
      <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
      <td><%= link_to 'Delete', timesheet, :confirm => 'Are you sure?', :method => :delete, :id => "delete_#{timesheet.owner}" %></td>
    </tr>
  <% end %>
<% else %>
  <p>No timesheets available.</p>
<% end %>
</table>

<%= link_to "New timesheet", new_timesheet_path %>

